
@{
    ViewBag.Title = "MenuBackoffice";
}

<h2>MenuBackoffice</h2>

<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" name="UserNow" value="@ViewBag.UserNow" />
    <h1 align="center" font face="Comic Sans MS,arial,verdana">Menu de administrador</font></h1> </br>

    <div>
        <p><a href="Aca ponemos el link del LogIn" class="boton_personalizado">ABM Usuarios &raquo;</a></p> </br> </br>
        <p><a href="Aca ponemos el link del Registro" class="boton_personalizado">ABM Categorias Por Personaje &raquo;</a></p> </br> </br>
        <p><a href="Aca ponemos el link del LogIn" class="boton_personalizado">ABM Personajes &raquo;</a></p> </br> </br>
        <h5 align="right" class="texto_1">Bienvenido (aca ponen el nombre del administrador)</h5>
    </div>

</body>