@using QuienEsQuien.Models
@model Usuarios
@{
    ViewBag.Title = "RegisterParcial";
}

<h2>Registro</h2>

<form action="@Url.Action("Register", "Home")" method="post">
    Nombre: @Html.TextBoxFor(x => x.Nombre, new { type = "string" }) <br />
    Contraseña: @Html.PasswordFor(x => x.Contraseña, new { type = "string" }) <br /> <br />

    <button>Siguiente</button>
</form>