
@{
    ViewBag.Title = "MenuBackoffice";
}

<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <style>
        ul {
            display: inline-block;
            vertical-align: top;
            padding-left: 0;
            vertical-align: top;
            padding-left: 170px;
        }
        li{
            list-style: none
        }
    </style>
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <h1 align="center">Menu de administrador</h1> <br />
        <div style="width:100%;margin-left:auto;margin-right:auto;margin-top:25px">
            <ul >
                <li style="text-align:center;font-size:20px"><b>Usuarios ▼</b></li>
                <li><a class="link-abm" href="@Url.Action("Categorias", "BackOffice")">ABM Categorias</a></li>
                <li><a class="link-abm" href="@Url.Action("BajaUsuarios", "BackOffice")">ABM Usuarios</a></li>
                <li><a class="link-abm" href="@Url.Action("ModificacionUsuarios", "BackOffice")">ABM Personajes</a></li>
            </ul>
            
        </div>
    </div>
</body>
