html, body {
    margin: 0;
    padding: 0;
}

.slider {
    width: auto;
    margin: 2em auto;
}

.slider-wrapper {
    width: 255px;
    height: 400px;
    position: relative;
}

.slide {
    float: left;
    position: absolute;
    width: 255px;
    height: 255px;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}
