@{
    ViewBag.Title = "Home Page";
}

<head>

</head>
<body class="w3-black">
    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">¿Quién es quién?</span></h1>
        </header>
    </div>
</body>
