@{
    ViewBag.Title = "Acerca de nosotros";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <h2><b>Nosotros</b></h2>
        <p>
            Nosotros somos un grupo de programadores que está interesado en la idea de digitalizar el juego “¿Quien es quien?”. <br />
            Nuestro grupo es el 7 y nuestros coordinadores de proyecto son Ezequiel B., Leo K. y Matias S.
        </p>
        <br /> <br />
        <h2><b>Intrucciones</b></h2>
        <p>
            Es un juego de adivinanzas para dos jugadores, cada jugador recibe una cantidad de personajes y elige uno.
            Con las características de los personajes que están predeterminadas en el juego, el mismo,
            tiene que ir preguntando al otro jugador por turno que características tiene el personaje que eligió, al mismo tiempo,
            tiene que ir descartando todos los personajes que no cumplan con esas características hasta encontrar el personaje elegido por su contrincante.
        </p>
    </div>
</body>